<%- include("../partials/header/header.ejs") %>
<!-- component -->
<div class="bg-gray-900 flex items-center justify-center">
  <div
    class="bg-gray-800 flex-1 flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 sm:p-6 sm:my-2 sm:mx-4 sm:rounded-2xl"
  >
    <!-- Navigation -->
    <%- include("./partials/sidebar.ejs") %>
    <!-- Content -->
    <div class="flex-1 px-2 sm:px-0">
      <div class="flex justify-between items-center">
        <h3 class="text-3xl font-extralight text-white/50">Create Post</h3>
      </div>
    </div>
  </div>
</div>
<%- include("../partials/footer.ejs") %>
