<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="<% if (isSubroute) { %>
../styles/style.css
<%} else { %>
./styles/style.css
<% } %>"
    />
    <title><%=title %></title>
  </head>
</html>

<body class="bg-slate-900 text-gray-100"></body>
